<div id="formConfirmation">
  <div class="jumbotron big-banner">
    <br>
    <h1 class="display-4 text-center">ONLINE GARAGE SALE!</h1>
    <p class="lead text-center">Find a bargain in your neighborhood</p>
  </div>
  <div>
        <h1 class='text-center'>Thank you! Your item has now been posted. Your seller ID is {{id}}. Please save this ID for managing your item posting.</h1>
  </div>
</div>

  <script src="/js/index.js"></script>
