<div id="formPage">
  <div class="jumbotron big-banner">
    <br>
    <h1 class="display-4 text-center">ONLINE GARAGE SALE!</h1>
    <p class="lead text-center">Find a bargain in your neighborhood</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Sell Your Item!</h2>
        <form class="newItem" action="/api/listings" method="POST">

          <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com" name="contactEmail" required> 
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Phone Number</label>
            <input type="text" class="form-control bfh-phone" id="phone" placeholder="(555)555-5555" name="contactPhone" required>
          </div>


          <div class="form-group">
            <label for="exampleFormControlInput1">Title</label>
            <input type="title" class="form-control" id="newItemTitle" placeholder="Title" name="title" required>
          </div>

          <div class="form-group">
            <label for="newItemZipCode">Zip code</label>
            <input type="text" class="form-control" id="newItemZipCode" placeholder="Zip Code" name="contactZip" pattern="[0-9]*" minlength=5 maxlength=5 required> 
          </div>

          <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" id="is-free">
            <label class="form-check-label" for="is-free">
                Give item away (free)
            </label>
          </div>

          <div class="form-group">
            <label for="formGroupExampleInput">Price</label>
            <input type="number" step=".01" class="form-control" id="newItemPrice" placeholder="Price" name="price" pattern="[0-9]*" required>
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">Mens or Womens</label>
            <select class="form-control" id="newItemGender" required>
              <option>Mens</option>
              <option>Womens</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">Clothing Type</label>
            <select class="form-control" id="newItemClothingType" name="item" required>
                <option>Tops</option>
                <option>Pants</option>
                <option>Sweaters</option>
                <option>Dresses</option>
            </select>
          </div>

          <div class="form-group">
            <label for="select-size">Size</label>
              <select class="form-control" id="newItemSize" required>
                <option>XS</option>
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">Color</label>
            <select class="form-control" id="newItemColor" required>
              <option>Black</option>
              <option>White</option>
              <option>Blue</option>
              <option>Red</option>
              <option>Green</option>
              <option>Yellow</option>
              <option>Brown</option>
              <option>Purple</option>
              <option>Orange</option>
              <option>Other</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleFormControlSelect1">Item Quality</label>
            <select class="form-control" id="newItemCondition" required>
                <option value="1">New</option>
                <option value="2">Great</option>
                <option value="3">Used</option>
                <option value="4">Worn</option>
                <option value="5">Damaged</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Image</label>
            <input type="url" class="form-control" id="newItemImageUrl" placeholder="Image URL" name="image" required>
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Item Description (optional)</label>
            <textarea class="form-control" id="newItemDescription" rows="3" name="description"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>

        </form>
      </div>
    </div>
  </div>
</div>
