  <div id="homepage">
    <div class="jumbotron big-banner ">
      <br>
        <h1 class="display-4 text-center">ONLINE GARAGE SALE</h1>
        <p class="lead text-center">Find a bargain in your neighborhood</p>
        <div class="d-flex justify-content-center">
          <a href="/listings"><button type="button" class="btn btn-light buyButton">Buy</button></a>
          <a href="/sell"><button type="button" class="btn btn-light sellButton">Sell</button></a>
        </div>
      </div>
  </div>