  <div id="homepage">
    <div class="jumbotron big-banner ">
      <br>
        <h1 class="display-4 text-center">ONLINE GARAGE SALE</h1>
        <p class="lead text-center">Find a bargain in your neighborhood</p>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-light buyButton"><a href="/listings">Buy</a></button>
          <button type="button" class="btn btn-light sellButton"><a href="/form">Sell</a></button>
        </div>
      </div>
  </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
