<nav class="navbar navbar-expand-lg navbar-light sticky-top" id="stickyNav">
    <a class="navbar-brand" href="/"><img src="assets/images/logo.png" style="width:auto;height:35px" id="logo"></a>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Buy <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/form">Sell <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
  </nav>

  <div id="buyPage">

    <div class="jumbotron big-banner">
      <br>
      <h1 class="display-4 text-center">ONLINE GARAGE SALE</h1>
      <p class="lead text-center">Find a bargain in your neighborhood</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h3 class="text-center">Filter</h3>

          <form>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Distance</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>< 10 miles</option>
                <option>> 10 miles</option>
              </select>
            </div>

            <div class="form-group">
              <label for="exampleFormControlSelect1">Price</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>free ($0)</option>
                <option><$10</option>
                <option>>$10</option>
              </select>
            </div>

            <div class="form-group">
              <label for="exampleFormControlSelect1">Mens or Womens</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Mens</option>
                <option>Womens</option>
              </select>
            </div>

            <div class="form-group">
              <label for="exampleFormControlSelect1">Clothing Type</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Tops</option>
                <option>Pants</option>
                <option>Sweaters</option>
                <option>Dresses</option>
              </select>
            </div>

            <div class="form-group">
              <label for="exampleFormControlSelect1">Size</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>XS</option>
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
              </select>
            </div>

            <div class="form-group">
              <label for="exampleFormControlSelect2">Color</label>
              <select multiple class="form-control" id="exampleFormControlSelect2">
                <option>Black</option>
                <option>White</option>
                <option>Blue</option>
                <option>Red</option>
                <option>Green</option>
                <option>Yellow</option>
                <option>Brown</option>
                <option>Purple</option>
                <option>Orange</option>
                <option>Other</option>
              </select>
            </div>

            <div class="form-group">
              <label for="exampleFormControlSelect2">Condition</label>
              <select multiple class="form-control" id="exampleFormControlSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Default checkbox
            </label>
          </div>
        </div>

        <div class="col-md-10">
          <h3 class="text-center " id="saleItems"> Garage Sale Items</h3>
          <div class="resultsList d-flex flex-wrap justify-content-center">

          <div class="card" style="width: 16rem;" id="saleItem">
            <img class="card-img-top" src="assets/images/jacket2.jpg" alt="Card image cap" >
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary" >Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 16rem;"id="saleItem">
            <img class="card-img-top" src="assets/images/tshirt2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 16rem;"id="saleItem">
            <img class="card-img-top" src="assets/images/blouse.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 16rem;"id="saleItem">
            <img class="card-img-top" src="assets/images/fashion-1283863_1280.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 16rem;"id="saleItem">
            <img class="card-img-top" src="assets/images/leather.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>


          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <div id="map">
</div>


{{!-- Placed the code for the map here for now. Couldn't get it to work when trying to access the map.js file which has the same code --}}
<script>
  function initMap() {
    // Position that map will be focued on, will need to change this to the zip the user inputs
    var myLatLng = { lat: 47.632530, lng: -122.153737 };

    // Styles a map in night mode.
    var map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        zoom: 11,
        styles: [
            // **********************Sin City theme**********************
            {
                "featureType": "all",
                "elementType": "labels",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "saturation": 36
                    },
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 40
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels.text.stroke",
                "stylers": [
                    {
                        "visibility": "on"
                    },
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 16
                    }
                ]
            },
            {
                "featureType": "all",
                "elementType": "labels.icon",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "administrative",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 20
                    }
                ]
            },
            {
                "featureType": "administrative",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 17
                    },
                    {
                        "weight": 1.2
                    }
                ]
            },
            {
                "featureType": "administrative.locality",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#c4c4c4"
                    }
                ]
            },
            {
                "featureType": "administrative.neighborhood",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#707070"
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 20
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 21
                    },
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "poi.business",
                "elementType": "geometry",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#be2026"
                    },
                    {
                        "lightness": "0"
                    },
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "labels.text.stroke",
                "stylers": [
                    {
                        "visibility": "on"
                    },
                    {
                        "hue": "#ff000a"
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 18
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#575757"
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#ffffff"
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "labels.text.stroke",
                "stylers": [
                    {
                        "color": "#2c2c2c"
                    }
                ]
            },
            {
                "featureType": "road.local",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 16
                    }
                ]
            },
            {
                "featureType": "road.local",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#999999"
                    }
                ]
            },
            {
                "featureType": "road.local",
                "elementType": "labels.text.stroke",
                "stylers": [
                    {
                        "saturation": "-52"
                    }
                ]
            },
            {
                "featureType": "transit",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 19
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [
                    {
                        "color": "#000000"
                    },
                    {
                        "lightness": 17
                    }
                ]
            },
             // **********************Dark Theme**********************
            // { elementType: 'geometry', stylers: [{ color: '#242f3e' }] },
            // { elementType: 'labels.text.stroke', stylers: [{ color: '#242f3e' }] },
            // { elementType: 'labels.text.fill', stylers: [{ color: '#746855' }] },
            // {
            //     featureType: 'administrative.locality',
            //     elementType: 'labels.text.fill',
            //     stylers: [{ color: '#d59563' }]
            // },
            // {
            //     featureType: 'poi',
            //     elementType: 'labels.text.fill',
            //     stylers: [{ color: '#d59563' }]
            // },
            // {
            //     featureType: 'poi.park',
            //     elementType: 'geometry',
            //     stylers: [{ color: '#263c3f' }]
            // },
            // {
            //     featureType: 'poi.park',
            //     elementType: 'labels.text.fill',
            //     stylers: [{ color: '#6b9a76' }]
            // },
            // {
            //     featureType: 'road',
            //     elementType: 'geometry',
            //     stylers: [{ color: '#38414e' }]
            // },
            // {
            //     featureType: 'road',
            //     elementType: 'geometry.stroke',
            //     stylers: [{ color: '#212a37' }]
            // },
            // {
            //     featureType: 'road',
            //     elementType: 'labels.text.fill',
            //     stylers: [{ color: '#9ca5b3' }]
            // },
            // {
            //     featureType: 'road.highway',
            //     elementType: 'geometry',
            //     stylers: [{ color: '#746855' }]
            // },
            // {
            //     featureType: 'road.highway',
            //     elementType: 'geometry.stroke',
            //     stylers: [{ color: '#1f2835' }]
            // },
            // {
            //     featureType: 'road.highway',
            //     elementType: 'labels.text.fill',
            //     stylers: [{ color: '#f3d19c' }]
            // },
            // {
            //     featureType: 'transit',
            //     elementType: 'geometry',
            //     stylers: [{ color: '#2f3948' }]
            // },
            // {
            //     featureType: 'transit.station',
            //     elementType: 'labels.text.fill',
            //     stylers: [{ color: '#d59563' }]
            // },
            // {
            //     featureType: 'water',
            //     elementType: 'geometry',
            //     stylers: [{ color: '#17263c' }]
            // },
            // {
            //     featureType: 'water',
            //     elementType: 'labels.text.fill',
            //     stylers: [{ color: '#515c6d' }]
            // },
            // {
            //     featureType: 'water',
            //     elementType: 'labels.text.stroke',
            //     stylers: [{ color: '#17263c' }]
            // },
            // **********************Dark night vision theme**********************
            // {
            //     "featureType": "all",
            //     "elementType": "all",
            //     "stylers": [
            //         {
            //             "invert_lightness": true
            //         },
            //         {
            //             "saturation": "-9"
            //         },
            //         {
            //             "lightness": "0"
            //         },
            //         {
            //             "visibility": "simplified"
            //         }
            //     ]
            // },
            // {
            //     "featureType": "landscape.man_made",
            //     "elementType": "all",
            //     "stylers": [
            //         {
            //             "weight": "1.00"
            //         }
            //     ]
            // },
            // {
            //     "featureType": "road.highway",
            //     "elementType": "all",
            //     "stylers": [
            //         {
            //             "weight": "0.49"
            //         }
            //     ]
            // },
            // {
            //     "featureType": "road.highway",
            //     "elementType": "labels",
            //     "stylers": [
            //         {
            //             "visibility": "on"
            //         },
            //         {
            //             "weight": "0.01"
            //         },
            //         {
            //             "lightness": "-7"
            //         },
            //         {
            //             "saturation": "-35"
            //         }
            //     ]
            // },
            // {
            //     "featureType": "road.highway",
            //     "elementType": "labels.text",
            //     "stylers": [
            //         {
            //             "visibility": "on"
            //         }
            //     ]
            // },
            // {
            //     "featureType": "road.highway",
            //     "elementType": "labels.text.stroke",
            //     "stylers": [
            //         {
            //             "visibility": "on"
            //         }
            //     ]
            // },
            // {
            //     "featureType": "road.highway",
            //     "elementType": "labels.icon",
            //     "stylers": [
            //         {
            //             "visibility": "on"
            //         }
            //     ]
            // }
        ]
    });
    // Place marker on lat & lng as defined above
    var buyerLocation = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: "hello"
    });

    var sellersMap = {
        // location is Factoria
        seller1: {
            center: { lat: 47.5683, lng: -122.1693 },
        },
        // location is Kirkland
        seller2: {
            center: { lat: 47.6769, lng: -122.2060 }
        }
    };

    // Add the circle for this city to the map.
    for (var city in sellersMap) {
        var sellerCircles = new google.maps.Circle({
            strokeColor: '#010101',
            strokeOpacity: 0.4,
            strokeWeight: 1,
            fillColor: '#fcfcfc',
            fillOpacity: 0.35,
            map: map,
            center: sellersMap[city].center,
            radius: 2000
        });
    }
}
</script>
{{!-- Link to Google Maps API --}}
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" async
  defer></script><script src="/business/map.js"></script>
