<nav class="navbar navbar-expand-lg navbar-light sticky-top" id="stickyNav">
    <a class="navbar-brand" href="/"><img src="assets/images/logo.png" style="width:auto;height:35px" id="logo"></a>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Buy <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/form">Sell <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>
  </nav>

  <div id="buyPage">

    <div class="jumbotron big-banner">
      <br>
      <h1 class="display-4 text-center">ONLINE GARAGE SALE</h1>
      <p class="lead text-center">Find a bargain in your neighborhood</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h3 class="text-center">Filter</h3>

          <form>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Distance</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>&lt; 10 miles</option>
                <option>&gt; 10 miles</option>
              </select>
            </div>

            <div class="form-group">
              <label for="exampleFormControlSelect1">Price</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>free ($0)</option>
                <option>&lt;$10</option>
                <option>&lt;$10</option>
              </select>
            </div>

            <div class="form-group">
              <label for="exampleFormControlSelect1">Mens or Womens</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Mens</option>
                <option>Womens</option>
              </select>
            </div>

            <div class="form-group">
              <label for="exampleFormControlSelect1">Clothing Type</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Tops</option>
                <option>Pants</option>
                <option>Sweaters</option>
                <option>Dresses</option>
              </select>
            </div>

            <div class="form-group">
              <label for="exampleFormControlSelect1">Size</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>XS</option>
                <option>S</option>
                <option>M</option>
                <option>L</option>
                <option>XL</option>
              </select>
            </div>

            <div class="form-group">
              <label for="exampleFormControlSelect2">Color</label>
              <select multiple class="form-control" id="exampleFormControlSelect2">
                <option>Black</option>
                <option>White</option>
                <option>Blue</option>
                <option>Red</option>
                <option>Green</option>
                <option>Yellow</option>
                <option>Brown</option>
                <option>Purple</option>
                <option>Orange</option>
                <option>Other</option>
              </select>
            </div>

            <div class="form-group">
              <label for="exampleFormControlSelect2">Condition</label>
              <select multiple class="form-control" id="exampleFormControlSelect2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Default checkbox
            </label>
          </div>
        </div>

        <div class="col-md-10">
          <h3 class="text-center " id="saleItems"> Garage Sale Items</h3>
          <div class="resultsList d-flex flex-wrap justify-content-center">

          <div class="card" style="width: 18rem;" id="saleItem">
            <img class="card-img-top" src="assets/images/jacket2.jpg" alt="Card image cap" >
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary" >Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;"id="saleItem">
            <img class="card-img-top" src="assets/images/tshirt2.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;"id="saleItem">
            <img class="card-img-top" src="assets/images/blouse.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;"id="saleItem">
            <img class="card-img-top" src="assets/images/fashion-1283863_1280.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;"id="saleItem">
            <img class="card-img-top" src="assets/images/leather.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>


          </div>
        </div>
      </div>
    </div>
  </div>