<div id="buyPage">

    <div class="jumbotron big-banner">
        <div id="banner-text" class="dim">
          <h1 class="display-4 text-center">ONLINE GARAGE SALE!</h1>
          <p class="lead text-center mobile-hidden">Find a bargain in your neighborhood</p>
        </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 mb-4">
          <h3 class="text-center display-5">Filters</h3>

          <form id="filters">
            <div class="form-group">
              <label id="label-distance" for="range-distance">Within 10 miles</label>
              <input type="range" class="custom-range w-100" id="range-distance" value="10">
            </div>

            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="is-free">
                <label class="form-check-label" for="is-free">
                    Free Only
                </label>
            </div>

            <div id="input-prices" class="form-group">
                <label for="min-price">Min Price ($)</label>
                <input class="form-control" type="number" name="min-price" id="min-price" value="0">

                <label for="max-price">Max Price ($)</label>
                <input class="form-control" type="number" name="max-price" id="max-price" value="100">
            </div>

            <div class="form-group">
              <label for="select-gender">Mens or Womens</label>
              <select class="form-control" id="select-gender">
                <option selected>All</option>
                <option value='na'>N/A</option>
                <option value='mens'>Mens</option>
                <option value='womens'>Womens</option>
              </select>
            </div>

            <div class="form-group">
              <label for="select-type">Clothing Type</label>
              <select class="form-control" id="select-type">
                <option>All</option>
                <option value='shirt'>Shirts</option>
                <option value='pants'>Pants</option>
                <option value='shorts'>Shorts</option>
                <option value='skirt'>Skirts</option>
                <option value='sweater'>Sweaters</option>
                <option value='coat'>Coats</option>
                <option value='dress'>Dresses</option>
              </select>
            </div>

            <div class="form-group">
              <label for="select-size">Size</label>
              <select class="form-control" id="select-size">
                <option>All</option>
                <option value='xs'>XS</option>
                <option value='s'>S</option>
                <option value='m'>M</option>
                <option value='l'>L</option>
                <option value='xl'>XL</option>
              </select>
            </div>

            <div class="form-group">
              <label for="select-color">Color</label>
              <select class="form-control" id="select-color">
                <option value="all" >All</option>
                <option value="black">Black</option>
                <option value='white'>White</option>
                <option value='blue'>Blue</option>
                <option value='red'>Red</option>
                <option value='green'>Green</option>
                <option value='yellow'>Yellow</option>
                <option value='brown'>Brown</option>
                <option value='purple'>Purple</option>
                <option value='orange'>Orange</option>
                <option value='tan'>Tan</option>
                <option value='pink'>Pink</option>
                <option value='other'>Other</option>
              </select>
            </div>

            <div class="form-group">
              <label for="select-quality">Condition</label>
              <select class="form-control" id="select-quality">
                <option value="0">All</option>
                <option value="1">New</option>
                <option value="2">Great</option>
                <option value="3">Used</option>
                <option value="4">Worn</option>
                <option value="5">Damaged</option>
              </select>
            </div>

            <button type="button" id="btn-filter" class="btn btn-primary w-100">Filter</button>
            <br>
            <button type="button" id="btn-reset" class="btn btn-danger w-100 mt-2">Reset</button>
          </form>

        </div>

        <div class="col-md-10">
          <h3 class="text-center " id="saleItems"> Garage Sale Items</h3>
          <div id="search-results" class="resultsList d-flex flex-wrap mb-5">

            {{> searchResults }}

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script src="./js/listings.js"></script>
