  <div id="managePage">

    <div class="jumbotron big-banner">
        <div id="banner-text" class="dim">
          <h1 class="display-4 text-center">ONLINE GARAGE SALE!</h1>
          <p class="lead text-center">Find a bargain in your neighborhood</p>
        </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Enter item ID to remove post</h2>
          <form>

            <div class="form-group">
              <label for="formGroupExampleInput">Item Posting ID</label>
              <input type="text" class="form-control" id="itemPostingID" placeholder="itemID">
            </div>

            <button type="button" class="btn btn-primary" id="manageButton">Mark Item Sold</button>

          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/manage.js"></script>
