<nav class="navbar navbar-expand-lg navbar-light sticky-top" id="stickyNav">
  <a class="navbar-brand" href="/"><img src="assets/images/logo.png" style="width:auto;height:35px" id="logo"></a>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/listings">Buy <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/form">Sell <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="/manage">Manage <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

  <div id="managePage">
    <div class="jumbotron big-banner">
      <br>
      <h1 class="display-4 text-center">ONLINE GARAGE SALE!</h1>
      <p class="lead text-center">Find a bargain in your neighborhood</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">Enter item ID to remove post</h2>
          <form>

            <div class="form-group">
              <label for="formGroupExampleInput">Item Posting ID</label>
              <input type="text" class="form-control" id="itemPostingID" placeholder="itemID">
            </div>


            <button type="button" class="btn btn-primary" id="manageButton">Mark Item Sold</button>

          </form>
        </div>
      </div>
    </div>
  </div>
