.list-group-item {
    line-height: 2.5;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.big-banner {
    position: relative;
    background-image: url(/images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-weight: bolder;
    font-family: 'Shadows Into Light', cursive, 'Segoe UI', sans-serif;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.dim {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
    width: 50%;
    padding: 1rem;
    position: relative;
}

#banner-text {
    position: relative;
    display: inline-block;
    top: 2.5rem;
}
#banner-text p {
    margin: 0;
}

#search-form {
    width: 30%;
}

#stickyNav {
    background-color: #fff;
}

.buyButton,
.sellButton {
    position: relative;
    margin: 5px;
    padding: 0.5rem 2rem;
    top: 3rem;
    font-weight: bold;
    transition: 200ms linear;
}

.buyButton:hover,
.sellButton:hover {
    background-color: rgb(41, 43, 44);
    color: rgb(247, 247, 247);
};

#map {
    height: 500px;
    width: 100%;
}

.result {
    width: 16rem;
    margin: 5px;
    height: 420px;
}

.free {
    color: green;
    font-weight: bold;
}

.listing-card {
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: none;
    color: inherit;
    transition: 200ms linear;
}
.listing-card:hover {
    text-decoration: none;
    text-transform: none;
    background-color: rgba(41,43,44,0.8);
}

.listing-time {
    position: absolute;
    bottom: 0;
}

.card {
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    object-position: top;
}

.disabledinput {
    pointer-events: none;
    opacity: 0.4;
}

.hiddeninput {
    pointer-events: none;
    opacity: 0;
}

.nav-link {
    font-weight: bold;
    transition: 200ms linear;
}

.nav-link:hover {
    cursor: pointer;
}

.listing-title {
    text-transform: capitalize;
}

#logo {
    height: 50px;
    width: auto;
}

#price {
    position: relative;
    left: 3em;
}
#condition {
    position: relative;
    left: 1em;
}

@media screen and (max-width: 768px) {
    #logo {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    #banner-text {
        top: 1.8rem;
    }
    .mobile-hidden {
        display: none;
    }
    .dim {
        padding: 0;
    }
}
@media screen and (max-width: 500px) {
    .card {
        width: 100%;
    }
    .card-text {
        word-wrap: break-word;
    }
    .listing-time {
        display: none;
    }
}
@media screen and (max-width: 360px) {
    #banner-text h1 {
        font-size: 3rem;
    }
    .jumbotron {
        /* padding-top: 0; */

    }
    .dim {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
